:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --gray-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 10px;
  padding-right: 10px;
}
.img picture img {
  margin-right: 10px;
  /* display: block; */
  border-bottom-left-radius:10px ;
  border-top-left-radius: 10px;
  
}
.info {
  height: 500px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  row-gap: 1.5rem;
}

.info .cat {
  text-transform: uppercase;
  font-family: Montserrat;
  color: var(--gray-blue);
  padding-top: 20px;
  letter-spacing: 0.5em;
}

.info .title {
  font-family: Fraunces;
  font-size: 3rem;
  line-height: 3rem;
}
.info .about {
  color: var(--gray-blue);
  font-family: Montserrat;
  line-height: 1.5em;
  font-size: 14px;
  padding-right: 50px;
}

.info .price{
    display: flex;
    align-items: center !important; 
    column-gap: 1em;
}
.info .price .alt-price {
    font-family:Fraunces ;
    color: var(--dark-cyan);
    font-size:2.5rem ;
}
.info .price del{
    font-family:Montserrat ;
    color: var(--gray-blue);
    font-weight: 200;
}


.info .btn {
  background-color: var(--dark-cyan);
  padding: 15px 15px;
  color: var(--white);
  font-family:Montserrat ;
  border-radius: 10px;
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.info .btn svg{
    margin: 0px 15px;
}
